<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "#{content_for(:title)} | JAD Services 33" : "JAD Services 33 — Prestataire Viticole Gironde & Charente | Taille, Vendanges, Travaux en Vert" %></title>
    <%= render "layouts/head/meta" %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= render "layouts/head/links" %>
    <%= render "layouts/head/structured_data" %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>


  </head>


  <body>
    <div class="cursor" id="cursor"></div>
    <div class="cursor-ring" id="cursor-ring"></div>

    <%= render "layouts/navbar" %>

    <%= yield %>

    <%= render "layouts/site_footer" %>
  </body>
</html>
